/* default Silversite.Web.UI.Menu css */

.SilversiteMenu {
	background-color: white;
	text-align: right;
	float: right;
}

.SilversiteMenu table { float: right; }

.SilversiteMenuMenuItem a {
	padding: 3px 10px 3px 10px;
	background-color: #EBEBEB;
}

.SilversiteMenuMenuItem a:hover {
	padding: 2px 9px 2px 9px;
	background-color: #E0E0E0;
	border-right: solid 1px #D0D0D0;
	border-bottom: solid 1px #D0D0D0;
	border-top: solid 1px #F0F0F0;
	border-left: solid 1px #F0F0F0;
	text-decoration: none;
}

.SilversiteMenuSubMenu {
	text-align: left;
	background-color: #E0E0E0;
	border: solid 1px #D0D0D0;
	padding: 5px 2px 5px 2px;
}

.SilversiteMenuSubMenu table { float: none; }

.SilversiteMenuSubMenuItem a{
	padding: 3px 10px 3px 10px;
}

.SilversiteMenuSubMenuItem a:hover{
	padding: 2px 9px 2px 9px;
	background-color: #EBEBEB;
	border-right: solid 1px #DBDBDB;
	border-bottom: solid 1px #DBDBDB;
	border-top: solid 1px #F0F0F0;
	border-left: solid 1px #F0F0F0;
	text-decoration: none;
}

.SilversiteMenuImageCssClass {
	margin-right:6px;
}