<?xml version="1.0"?>
<configuration>

	<configSections>
		<section name="filemanager" type="Silversite.Configuration.FileManager, Silversite.FileManager"/>
	</configSections>

  <filemanager>
    <handlers>
      <clear />
      <add paths="*.html;*.htm;*.php;*.asp;*.aspx;*.ashx;*.ascx;*.png;*.gif;*.jpg;*.jpeg;*.tif;*.tiff;*.bmp;*.svg;*.svgz"
        type="Silversite.FileManager.DisplayHandler, Silversite.FileManager"
        class="File" priority="66" />
      <add paths="*" type="Silversite.FileManager.DefaultDirectoryHandler, Silversite.FileManager"
        class="Directory" priority="50" />
      <add paths="*" type="Silversite.FileManager.DownloadHandler, Silversite.FileManager"
        class="File" priority="33" />
      <add paths="*" type="Silversite.FileManager.NoActionHandler, Silversite.FileManager"
        class="File" priority="0" />
    </handlers>
  </filemanager>

</configuration>
