<?xml version="1.0"?>
<configuration>

	<configSections>
		<section name="lazyloading" type="Silversite.Configuration.LazyLoading, Silversite.Core"/>
	</configSections>

	<lazyloading>
    <types>
		 <add type="Silversite.Providers.FileManager.Provider, Silversite.FileManager" />
	 </types>
		<controls />
		<handlers>
			<add paths="*.sb.xaml;*.xaml.png;*.xaml.jpg;*.xaml.gif;*.xaml.pdf;*.xaml.xps" type="Silversite.Web.XamlImageHandler, Silversite.XamlImageConverter" />
		</handlers>
		<providers>
			<add service="Silversite.Services.Ftp.Client" type="Silversite.Services.Ftp.StarksoftProvider, Silversite.FTP" />
			<add service="Silversite.Services.SyncProvider" type="Silversite.Services.Ftp.SilversiteSyncProvider, Silversite.FTP" />
			<add service="Silversite.Services.JavaScriptTextEditor" type="Silversite.Web.UI.CKEditorProvider, Silversite.CKEditor" />
			<add service="Silversite.Services.FileManager" type="Silversite.FileManager.Provider, Silversite.FileManager" />
		</providers>
		<dbProviders>
			<add provider="MySql.Data.MySqlClient" assemblies="MySql.Data; MySql.Data.Entity; MySql.Data.Web"/>
			<add provider="System.Data.SqlComactClient.4.0" assemblies="System.Data.SqlServerCe; System.Data.SqlServerCe.Entity"/>
		</dbProviders>
		<paths>
			<add paths="~/Silversite/Admin/*" assemblies="Silversite.Admin; AjaxControlToolkit" />
			<add paths="~/default.aspx;~/Silversite/Test/*" assemblies="Silversite.SilversiteDevelop" />
			<add paths="~/Silversite/Test/*" assemblies="Silversite.Test.Database" />
			<add paths="~/Silversite/Extensions/Silversite.jQuery/*;~/Silversite/JavaScript/jQuery/*;~/Silversite/JavaScript/Splitter/*" assemblies="Silversite.jQuery" />
			<add paths="~/Silversite/Extensions/Silversite.CKEditor/*" assemblies="Silversite.CKEditor" />
			<add paths="~/Silversite/Extensions/Silversite.FileManager/*" assemblies="Silversite.FileManager" />
		</paths>
	</lazyloading>

</configuration>
