<?xml version="1.0"?>
<configuration>
	
	<configSections>
		<section name="mail" type="Silversite.Configuration.Mail, Silversite.Core" />
		<section name="development" type="Silversite.Configuration.Develop, Silversite.Core" />
		<section name="editableContent" type="Silversite.Configuration.EditableContent, Silversite.Core" />
		<section name="providers" type="Silversite.Configuration.Providers, Silversite.Core"/>
		<section name="log" type="Silversite.Configuration.Log, Silversite.Core"/>
		<section name="modules" type="Silversite.Configuration.Modules, Silversite.Core" />
	</configSections>

	<development testServers="" autoLogin="admin" />

	<mail />
	
	<editableContent effects="false" />

	<log enabled="true" severeExceptions="" />

	<providers>
		<defaults />
	</providers>

	<modules disabled="" />
	
</configuration>
