<?xml version="1.0"?>
<configuration>

	<configSections>
		<section name="database" type="Silversite.Configuration.Database,Silversite"/>
	</configSections>

	<database connectionString="Silversite.CE4" />
	<!-- <database ConnectionString="Silversite.MySql"/> -->
	
	<connectionStrings>
		<add name="Silversite.MSSql" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Silversite;User=sa;Password=0192iw0192IW" providerName="System.Data.SqlClient"/>
		<add name="Silversite.LocalMSSql" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|Silversite.mdf;Initial Catalog=Silversite;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient" />
		<add name="Silversite.MySql" connectionString="server=localhost;User Id=root;Password=0192iw0192iw;database=Silversite;Persist Security Info=True;" providerName="MySql.Data.MySqlClient"/>
		<add name="Silversite.CE4" connectionString="Data Source=|DataDirectory|Silversite.CE4.sdf" providerName="System.Data.SqlServerCe.4.0"/>
	</connectionStrings>

</configuration>
