<?xml version="1.0"?>
<configuration>

	<configSections>
		<section name="mail" type="Silversite.Configuration.Mail, Silversite" />
		<section name="development" type="Silversite.Configuration.Develop, Silversite" />
		<section name="editableContent" type="Silversite.Configuration.EditableContent, Silversite" />
		<section name="providers" type="Silversite.Configuration.Providers, Silversite"/>
		<section name="log" type="Silversite.Configuration.Log, Silversite"/>
	</configSections>

	<development testServers="" autoLogin="admin" />
	
	<mail />
	
	<editableContent effects="false" />

	<log severeExceptions="" output="Both" debug="true" />

	<providers>
		<defaults />
	</providers>

</configuration>
