<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <!--  <runtime>
     <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="bin\lazy" />
    </assemblyBinding>
  </runtime> -->
  <connectionStrings>
    <add name="Silversite.DevMSSql" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Silversite;User=sa;Password=0192iw0192IW" providerName="System.Data.SqlClient" />
    <add name="Silversite.MSSql" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Silversite;User=sa;Password=0192iw0192IW" providerName="System.Data.SqlClient" />
    <add name="Silversite.LocalMSSql" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|Silversite.mdf;Initial Catalog=Silversite56.mdf;Integrated Security=SSPI;User Instance=True" providerName="System.Data.SqlClient" />
    <add name="Silversite.CE4" connectionString="Data Source=|DataDirectory|Silversite.CE4.sdf" providerName="System.Data.SqlServerCe.4.0" />
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data" />
    </DbProviderFactories>
  </system.data>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.5" defaultLanguage="C#">
      <assemblies>
        <add assembly="Silversite.Core" />
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" responseHeaderEncoding="utf-8" enableClientBasedCulture="true" />
    <authentication mode="Forms">
      <forms defaultUrl="~/Silversite/UI/login.aspx" loginUrl="~/Silversite/UI/login.aspx" name="SilversiteMembership" />
    </authentication>
    <membership defaultProvider="SilversiteMembershipProvider" userIsOnlineTimeWindow="20">
      <providers>
        <clear />
        <add name="SilversiteMembershipProvider" type="Silversite.Web.MembershipProvider, Silversite.Core" applicationName="Silversite" />
      </providers>
    </membership>
    <roleManager defaultProvider="SilversiteRoleManager" enabled="true" cacheRolesInCookie="true">
      <providers>
        <clear />
        <add name="SilversiteRoleManager" type="Silversite.Web.RoleProvider, Silversite.Core" applicationName="Silversite" />
      </providers>
    </roleManager>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <customErrors mode="Off" />
    <pages clientIDMode="AutoID" autoEventWireup="true" compilationMode="Auto" controlRenderingCompatibilityVersion="4.0" enableEventValidation="true" enableViewState="true" enableSessionState="true" maintainScrollPositionOnPostBack="true" viewStateEncryptionMode="Auto">
      <controls>
        <add tagPrefix="ss" namespace="Silversite.Web.UI" assembly="Silversite.Core" />
        <add tagPrefix="ss" namespace="Silversite.Web" assembly="Silversite.Core" />
        <add tagPrefix="ajax" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
      <namespaces>
        <add namespace="Silversite" />
        <add namespace="Silversite.Web" />
        <add namespace="Silversite.Web.UI" />
      </namespaces>
    </pages>
    <sessionState compressionEnabled="true" cookieName="ASPSESSION" mode="InProc" />
    <!--<httpHandlers>
      <add verb="*" path="*.thumbnail" type="Silversite.Web.ThumbnailHandler, Silversite" />
      <add verb="*" path="*.sb.xaml;*.xaml.png;*.xaml.jpg;*.xaml.gif;*.xaml.pdf;*.xaml.xps" type="Silversite.Web.LazyHandler, Silversite" />
    </httpHandlers>-->
    <!-- <trace enabled="true" localOnly="true" traceMode="SortByTime" requestLimit="100" pageOutput="true" /> -->
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <!--<modules runAllManagedModulesForAllRequests="true">
      <add name="Silversite.Web.Modules" type="Silversite.Web.Modules, Silversite" preCondition="integratedMode" />
    </modules>-->
    <handlers>
      <add name="Silversite.Web.Thumbnails" verb="*" path="*.thumbnail" preCondition="integratedMode" type="Silversite.Web.ThumbnailHandler, Silversite.Core" />
      <!-- add handlers for xaml image converter -->
      <add name="XamlConverter Batch" verb="*" path="*.sb.xaml" type="Silversite.Web.LazyHandler, Silversite.Core" />
      <add name="XamlConverter png" verb="*" path="*.xaml.png" type="Silversite.Web.LazyHandler, Silversite.Core" />
      <add name="XamlConverter jpg" verb="*" path="*.xaml.jpg" type="Silversite.Web.LazyHandler, Silversite.Core" />
      <add name="XamlConverter gif" verb="*" path="*.xaml.gif" type="Silversite.Web.LazyHandler, Silversite.Core" />
      <add name="XamlConverter pdf" verb="*" path="*.xaml.pdf" type="Silversite.Web.LazyHandler, Silversite.Core" />
      <add name="XamlConverter xps" verb="*" path="*.xaml.xps" type="Silversite.Web.LazyHandler, Silversite.Core" />
      <!-- add static handlers for resource virtual path provider -->
      <add name="StaticContent for gif" path="*.gif" verb="GET,HEAD,POST" type="System.Web.StaticFileHandler" />
      <add name="StaticContent for png" path="*.png" verb="GET,HEAD,POST" type="System.Web.StaticFileHandler" />
      <add name="StaticContent for jpg" path="*.jpg" verb="GET,HEAD,POST" type="System.Web.StaticFileHandler" />
      <add name="StaticContent for css" path="*.css" verb="GET,HEAD,POST" type="System.Web.StaticFileHandler" />
      <add name="StaticContent for js" path="*.js" verb="GET,HEAD,POST" type="System.Web.StaticFileHandler" />
    </handlers>
  </system.webServer>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="Data Source=.\SQLEXPRESS; Integrated Security=True; MultipleActiveResultSets=True" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>