<?xml version="1.0"?>
<configuration>

	<configSections>
		<section name="filemanager" type="Silversite.Configuration.FileManager, Silversite.FileManager"/>
	</configSections>

  <filemanager>
    <handlers>
     <!-- <add type="Silverstie.Web.UI.FileManager.NoActionHandler" files="*" /> -->
     <add type="Silversite.FileManager.DownloadHandler" files="*" />
      <add type="Silversite.FileManager.DisplayHandler" files="*.html;*.htm;*.php;*.asp;*.aspx;*.ashx;*.ascx;*.png;*.gif;*.jpg;*.jpeg;*.tif;*.tiff;*.bmp;*.svg;*.svgz" />
      <add type="Silversite.FileManager.DefaultShowHandler" files="*" show="true" />
    </handlers>
  </filemanager>

</configuration>
