<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
    <probing privatePath="bin;silversite\bin\cache;silversite\bin\optional\cache" />
  </assemblyBinding>
  <appSettings />
  <connectionStrings>
    <add name="Silversite.MSSql" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|silversite.mdf;Initial Catalog=Silversite;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient" />
    <add name="Asp.Net.Db" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|aspnetdb.mdf;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient" />
    <add name="Silversite.MySql" connectionString="server=localhost;User Id=root;Password=0192iw;database=silversite;Persist Security Info=True;" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data" />
    </DbProviderFactories>
  </system.data>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="Silversite" />
      </assemblies>
    </compilation>
    <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" responseHeaderEncoding="utf-8" enableClientBasedCulture="true" />
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Forms">
      <forms defaultUrl="~/Silversite/Admin/login.aspx" loginUrl="~/Silversite/Admin/login.aspx" name="SilversiteMembership" />
    </authentication>
    <membership defaultProvider="SilversiteMembershipProvider" userIsOnlineTimeWindow="20">
      <providers>
        <clear />
        <add name="SilversiteMembershipProvider" type="Silversite.Web.MembershipProvider" applicationName="Silversite" />
      </providers>
    </membership>
    <roleManager defaultProvider="SilversiteRoleManager" enabled="true" cacheRolesInCookie="true">
      <providers>
        <clear />
        <add name="SilversiteRoleManager" type="Silversite.Web.RoleProvider" applicationName="Silversite" />
      </providers>
    </roleManager>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.
      -->
    <customErrors mode="Off" defaultRedirect="GenericErrorPage.htm">
      <error statusCode="403" redirect="NoAccess.htm" />
      <error statusCode="404" redirect="FileNotFound.htm" />
    </customErrors>
    <pages clientIDMode="AutoID" autoEventWireup="true" compilationMode="Auto" controlRenderingCompatibilityVersion="4.0" enableEventValidation="true" enableViewState="true" enableSessionState="true" maintainScrollPositionOnPostBack="true" viewStateEncryptionMode="Auto">
      <controls>
        <add tagPrefix="ss" namespace="Silversite.Web.UI" assembly="Silversite" />
        <add tagPrefix="ss" namespace="Silversite.Web" assembly="Silversite" />
      </controls>
      <namespaces>
        <add namespace="Silversite" />
        <add namespace="Silversite.Web" />
        <add namespace="Silversite.Web.UI" />
      </namespaces>
    </pages>
    <!--
    <httpModules>
      <add name="Silversite.Web.Modules" type="Silversite.Web.Modules, Silversite"/>
    </httpModules>

    <httpHandlers>
      <add verb="*" path="*.thumbnail" type="Silversite.Web.ThumbnailHandler, Silversite" />
    </httpHandlers>
    -->
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="Silversite.Web.Modules" type="Silversite.Web.Modules, Silversite" preCondition="integratedMode" />
    </modules>
    <handlers>
      <add name="Silversite.Web.Thumbnails" verb="*" path="*.thumbnail" preCondition="integratedMode" type="Silversite.Web.ThumbnailHandler, Silversite" />
    </handlers>
  </system.webServer>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="Data Source=.\SQLEXPRESS; Integrated Security=True; MultipleActiveResultSets=True" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>