<?xml version="1.0"?>
<configuration>

	<configSections>
		<section name="database" type="Silversite.Configuration.Database, Silversite"/>
	</configSections>

	<database default="Silversite.CE4" schemas="Silversite.CE4.Replication:Replication">
		<replication>
			<!--<add servers="Silversite.CE4, Silversite.CE4.Replication" schemas="Silversite.CE4.Replication:Replication2"/>-->
			<add servers="Silversite.MSSql, Silversite.MSSql.Replication" />
		</replication>
	</database>
	
	<connectionStrings>
		<add name="Silversite.DevMSSql" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Silversite;User=sa;Password=0192iw0192IW" providerName="System.Data.SqlClient"/>
		<add name="Silversite.MSSql" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Silversite;User=sa;Password=0192iw0192IW" providerName="System.Data.SqlClient"/>
		<add name="Silversite.LocalMSSql" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|Silversite.mdf;Initial Catalog=Silversite56.mdf;Integrated Security=SSPI;User Instance=True" providerName="System.Data.SqlClient" />
		<add name="Silversite.MySql" connectionString="server=localhost;User Id=root;Password=0192iw0192IW;database=Silversite;Persist Security Info=True;" providerName="MySql.Data.MySqlClient" />
		<add name="Silversite.CE4" connectionString="Data Source=|DataDirectory|Silversite.CE4.sdf" providerName="System.Data.SqlServerCe.4.0"/>
		<add name="Silversite.CE4.Replication" connectionString="Data Source=|DataDirectory|Silversite.CE4.Replication.sdf" providerName="System.Data.SqlServerCe.4.0"/>
		<add name="Silversite.MSSql.Replication" connectionString="Data Source=|DataDirectory|Silversite.MSSql.Replication.sdf" providerName="System.Data.SqlServerCe.4.0"/>
	</connectionStrings>

</configuration>
