<?xml version="1.0"?>
<configuration>

	<configSections>
		<section name="lazyloading" type="Silversite.Configuration.LazyLoading, Homesell"/>
	</configSections>

	<lazyloading>
		<types />
		<controls />
		<handlers>
			<add paths="**.sb.xaml;**.xaml.png;**.xaml.jpg;**.xaml.gif;**.xaml.pdf;**.xaml.xps" type="Silversite.Web.XamlImageHandler, Silversite.XamlImageConverter" />
		</handlers>
		<providers>
			<add service="Silversite.Services.Ftp.Client" type="Silversite.Services.Ftp.StarksoftProvider, Silversite.FTP" />
			<add service="Silversite.Services.SyncProvider" type="Silversite.Services.Ftp.SilversiteSyncProvider, Silversite.FTP" />
			<add service="Silversite.Services.JavaScriptTextEditor" type="Silversite.Web.UI.CKEditorProvider, Silversite.CKEditor" />
			<add service="Silversite.Services.JavaScriptFileManager" type="Silversite.Web.UI.FileManagerProvider, Silversite.FileManager" />
			<add service="Silversite.Html.JavaScriptBrowser" type="Silversite.Html.Awesomium.JavaScriptBrowserProvider, Silversite.Awesomium" />
		</providers>
		<dbProviders>
			<add provider="MySql.Data.MySqlClient" assemblies="MySql.Data; MySql.Data.Entity; MySql.Data.Web"/>
			<add provider="System.Data.SqlComactClient.4.0" assemblies="System.Data.SqlServerCe; System.Data.SqlServerCe.Entity"/>
		</dbProviders>
		<paths>
			<add paths="~/Silversite/UI/**; ~/Silversite/Admin/**" assemblies="AjaxControlToolkit" />
			<!--<add paths="~/Silversite/Admin/**" assemblies="Silversite.Admin; AjaxControlToolkit" />
			<add paths="~/Silversite/Test/**" assemblies="Silversite.SilversiteDevelop; Silversite.Test.Database" />
			<add paths="~/Silversite/Extensions/Silversite.CKEditor/**" assemblies="Silversite.CKEditor" />
			<add paths="~/Silversite/Extensions/Silversite.FileManager/**" assemblies="Silversite.FileManager" />
			<add paths="~/Silversite/Extensions/Silversite.Setup/**" assemblies="Silversite.Setup" /> -->
		</paths>
	</lazyloading>

</configuration>
