<?xml version="1.0"?>
<configuration>
	
	<configSections>
		<section name="mail" type="Silversite.Configuration.Mail, Homesell" />
		<section name="development" type="Silversite.Configuration.Develop, Homesell" />
		<section name="editableContent" type="Silversite.Configuration.EditableContent, Homesell" />
		<section name="providers" type="Silversite.Configuration.Providers, Homesell"/>
		<section name="log" type="Silversite.Configuration.Log, Homesell"/>
		<section name="modules" type="Silversite.Configuration.Modules, Homesell" />
		<section name="files" type="Silversite.Configuration.Files, Homesell"/>
	</configSections>

	<development testServers="test*" autoLogin="david@johnshope.com" />

	<mail smtpServer="mail.homesell.ch" smtpPort="25" smtpUsername="smtp@homesell.ch" smtpPassword="0192iw0192IW" maxMailsPerHour="250" />

	<editableContent effects="false" />

	<log debug="true" severeExceptions="" />

	<providers>
		<defaults>
			<add type="Silversite.Services.DbLogProvider" />
		</defaults>
	</providers>

	<modules disabled="" />

	<files home="www.homesell.ch" />
	
</configuration>
